<a href="https://colab.research.google.com/github/Fernando1809/Progra-3-2022/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo ")
print("Mi nombre es","Fernando Gonzalez")

Hola Mundo
Mi nombre es Fernando Gonzalez

In [ ]:
nombre="KingFherxxxo"
print("hola",nombre)

edad= 21
print("Tu edad es:",edad)

hola KingFherxxxo
Tu edad es: 21

In [ ]:
nombre="Fernando Gonzalez"
print("Tu nombre es:",nombre,"la longitud de tu nombre:",len(nombre),"; las iniciales:",nombre[0],nombre[9])

Tu nombre es: Fernando Gonzalez la longitud de tu nombre: 17 ; las iniciales: F G

In [ ]:
num1=5
num2=4.6
resp= num1 + num2
print("la suma de:",num1,"+",num2,"es igual a:",resp,)

la suma de: 5 + 4.6 es igual a: 9.6

In [ ]:
num1=10
num2=5.5
resp=num1-num2
print("la resta de:",num1,"-",num2,"es igual a:",resp,)

la resta de: 10 - 5.5 es igual a: 4.5

In [ ]:
num1=float(input("ingrese un número entero"))
num2=float(input("ingrese otro número desimal"))
resp=num1+num2
print("Suma",resp)

ingrese un número entero5
ingrese otro número desimal4
Suma 9.0

In [ ]:
nombre=input("dime tumobre: ")
print(nombre,  type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

dime tumobre: Fher
Fher <class 'str'> 4
F h e r

In [ ]:
resp=4-4*6/2+1
print(resp)

-7.0

In [ ]:
gustaProgramacion=True
print("Te gusta programar:",gustaProgramacion)

gustaDiseño=False
print("Te gusta deseñar:",gustaDiseño)

Te gusta programar: True
Te gusta deseñar: False

In [ ]:
def suma(num1,num2):
  return num1 + num2
num1=5
num2=7
print("la suma de 5 + 7 =",suma(num1,num2))

la suma de 5 + 7 = 12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1= float(input("digite un número: "))
num2=float(input("digita otro número: "))

print("la suma de:",suma(num1,num2))

digite un número: 60
digita otro número: 60
la suma de: 120.0

---------------------------------------------------Semana #3: 10/08/22------------------------------------------------------------------

In [ ]:
suma=lambda num1,num2:num1+num2

In [ ]:
num1=float(input("Num1:"))
num2=(float(input("Num2:")))
print("La repuesta es: ",suma(num1,num2))

Num1:69
Num2:96
La repuesta es:  165.0

In [ ]:
lista=[7,8,3,2,6]

In [ ]:
cuadrado= lambda num:num**2

In [ ]:
print(type(cuadrado))

<class 'function'>

In [ ]:
cubo= lambda num:num**3

In [ ]:
potencia=lambda num, n:num**n

In [ ]:
print("Lista: ",lista," al cuadrado: ",list(map(cuadrado,lista)),"al cubo: ", list(map(cubo, lista)))

Lista:  [7, 8, 3, 2, 6]  al cuadrado:  [49, 64, 9, 4, 36] al cubo:  [343, 512, 27, 8, 216]

In [ ]:
print(" 2 al cubo es: ",potencia(4,5))

 2 al cubo es:  1024

In [ ]:
print("Lista original: ",lista," al cubo", list(map(lambda num: num**3,lista)))

Lista original:  [7, 8, 3, 2, 6]  al cubo [343, 512, 27, 8, 216]

In [ ]:
fpares= lambda num:num%2==0

In [ ]:
finpares=lambda num:num%2!=0

In [ ]:
print("Lista original: ",lista, "solo pares: ",list(filter(fpares, lista)),"Los impares: ",list(filter(finpares, lista)))

Lista original:  [7, 8, 3, 2, 6] solo pares:  [8, 2, 6] Los impares:  [7, 3]

In [ ]:
suma=lambda a,b:a+b

In [ ]:
#import functools #(o te da error o te da la función)
print("lista original: ",lista,"la suma: ",functools.reduce(suma,lista)," media artitmetica: ",functools.reduce(suma,lista)/len(lista))

lista original:  [7, 8, 3, 2, 6] la suma:  26  media artitmetica:  5.2

In [ ]:
c= 38

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  100.4

In [ ]:
gradosCiudades=[27,30, 32, 35, 40, 45]

In [ ]:
print("C°: ", gradosCiudades, "C°: ",list(map(convertirCaF, gradosCiudades)))

C°:  [27, 30, 32, 35, 40, 45] C°:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
gradosCiudades2= [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
print("F°:", gradosCiudades2, "C°: ",list(map(convertirFaC, gradosCiudades2)))

F°: [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
conversor= lambda f:(f-32)*5/9

In [ ]:
print("F°: : ",gradosCiudades2, "C°: ",list(map(conversor, gradosCiudades2)))

F°: :  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

**Tarea:**


* Hacer un algoritmo en Python que convierta grados celsius a kelvin y
viceversa, usando funciones de usuarios y lambda.

* Hacer un algoritmo en Python que encuentre la nota final del ciclo de una materia en particular usando funciones de usuario y lambda.

In [1]:
#Conversor de C° a K° (con lambda)
def convertirCelKC(c):
  return (c+273.15)
gradosCiudades3= [26,36, 38, 45, 25, 48]
conversor= lambda c:(c+273.15)
print("C°: : ",gradosCiudades3, "K°: ",list(map(conversor, gradosCiudades3)))

C°: :  [26, 36, 38, 45, 25, 48] K°:  [299.15, 309.15, 311.15, 318.15, 298.15, 321.15]

In [3]:
#Conversor de K° a C° (con lambda)
def convertirKelC(k):
  return (k-273.15)
gradosCiudades4= [1,30, 55, 85, 45, 74]
conversor= lambda k:(k-273.15)
print("K°: : ",gradosCiudades4, "C°: ",list(map(conversor, gradosCiudades4)))

K°: :  [1, 30, 55, 85, 45, 74] C°:  [-272.15, -243.14999999999998, -218.14999999999998, -188.14999999999998, -228.14999999999998, -199.14999999999998]