<a href="https://colab.research.google.com/github/Fernando1809/Progra-3-2022/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo ")
print("Mi nombre es","Fernando Gonzalez")

Hola Mundo
Mi nombre es Fernando Gonzalez

In [ ]:
nombre="KingFherxxxo"
print("hola",nombre)

edad= 21
print("Tu edad es:",edad)

hola KingFherxxxo
Tu edad es: 21

In [ ]:
nombre="Fernando Gonzalez"
print("Tu nombre es:",nombre,"la longitud de tu nombre:",len(nombre),"; las iniciales:",nombre[0],nombre[9])

Tu nombre es: Fernando Gonzalez la longitud de tu nombre: 17 ; las iniciales: F G

In [ ]:
num1=5
num2=4.6
resp= num1 + num2
print("la suma de:",num1,"+",num2,"es igual a:",resp,)

la suma de: 5 + 4.6 es igual a: 9.6

In [ ]:
num1=10
num2=5.5
resp=num1-num2
print("la resta de:",num1,"-",num2,"es igual a:",resp,)

la resta de: 10 - 5.5 es igual a: 4.5

In [ ]:
num1=float(input("ingrese un número entero"))
num2=float(input("ingrese otro número desimal"))
resp=num1+num2
print("Suma",resp)

ingrese un número entero5
ingrese otro número desimal4
Suma 9.0

In [ ]:
nombre=input("dime tumobre: ")
print(nombre,  type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

dime tumobre: Fher
Fher <class 'str'> 4
F h e r

In [ ]:
resp=4-4*6/2+1
print(resp)

-7.0

In [ ]:
gustaProgramacion=True
print("Te gusta programar:",gustaProgramacion)

gustaDiseño=False
print("Te gusta deseñar:",gustaDiseño)

Te gusta programar: True
Te gusta deseñar: False

In [ ]:
def suma(num1,num2):
  return num1 + num2
num1=5
num2=7
print("la suma de 5 + 7 =",suma(num1,num2))

la suma de 5 + 7 = 12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1= float(input("digite un número: "))
num2=float(input("digita otro número: "))

print("la suma de:",suma(num1,num2))

digite un número: 60
digita otro número: 60
la suma de: 120.0

---------------------------------------------------Semana #3: 10/08/22------------------------------------------------------------------

In [ ]:
suma=lambda num1,num2:num1+num2

In [ ]:
num1=float(input("Num1:"))
num2=(float(input("Num2:")))
print("La repuesta es: ",suma(num1,num2))

Num1:69
Num2:96
La repuesta es:  165.0

In [ ]:
lista=[7,8,3,2,6]

In [ ]:
cuadrado= lambda num:num**2

In [ ]:
print(type(cuadrado))

<class 'function'>

In [ ]:
cubo= lambda num:num**3

In [ ]:
potencia=lambda num, n:num**n

In [ ]:
print("Lista: ",lista," al cuadrado: ",list(map(cuadrado,lista)),"al cubo: ", list(map(cubo, lista)))

Lista:  [7, 8, 3, 2, 6]  al cuadrado:  [49, 64, 9, 4, 36] al cubo:  [343, 512, 27, 8, 216]

In [ ]:
print(" 2 al cubo es: ",potencia(4,5))

 2 al cubo es:  1024

In [ ]:
print("Lista original: ",lista," al cubo", list(map(lambda num: num**3,lista)))

Lista original:  [7, 8, 3, 2, 6]  al cubo [343, 512, 27, 8, 216]

In [ ]:
fpares= lambda num:num%2==0

In [ ]:
finpares=lambda num:num%2!=0

In [ ]:
print("Lista original: ",lista, "solo pares: ",list(filter(fpares, lista)),"Los impares: ",list(filter(finpares, lista)))

Lista original:  [7, 8, 3, 2, 6] solo pares:  [8, 2, 6] Los impares:  [7, 3]

In [ ]:
suma=lambda a,b:a+b

In [ ]:
#import functools #(o te da error o te da la función)
print("lista original: ",lista,"la suma: ",functools.reduce(suma,lista)," media artitmetica: ",functools.reduce(suma,lista)/len(lista))

lista original:  [7, 8, 3, 2, 6] la suma:  26  media artitmetica:  5.2

In [ ]:
c= 38

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  100.4

In [ ]:
gradosCiudades=[27,30, 32, 35, 40, 45]

In [ ]:
print("C°: ", gradosCiudades, "C°: ",list(map(convertirCaF, gradosCiudades)))

C°:  [27, 30, 32, 35, 40, 45] C°:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
gradosCiudades2= [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
print("F°:", gradosCiudades2, "C°: ",list(map(convertirFaC, gradosCiudades2)))

F°: [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
conversor= lambda f:(f-32)*5/9

In [ ]:
print("F°: : ",gradosCiudades2, "C°: ",list(map(conversor, gradosCiudades2)))

F°: :  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0] C°:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

**Tarea:**


* Hacer un algoritmo en Python que convierta grados celsius a kelvin y
viceversa, usando funciones de usuarios y lambda.

* Hacer un algoritmo en Python que encuentre la nota final del ciclo de una materia en particular usando funciones de usuario y lambda.

In [ ]:
#Conversor de C° a K° (con lambda)
def convertirCelKC(c):
  return (c+273.15)
gradosCiudades3= [26,36, 38, 45, 25, 48]
conversor= lambda c:(c+273.15)
print("C°:  ",gradosCiudades3, "K°: ",list(map(conversor, gradosCiudades3)))

C°: :  [26, 36, 38, 45, 25, 48] K°:  [299.15, 309.15, 311.15, 318.15, 298.15, 321.15]

In [ ]:
#convertir C° a K° (Funcion de usuario)
gradosCiudades3=[26,36, 38, 45, 25, 48]
print("C°: ",gradosCiudades3,"K°: ",list(map(convertirCelKC, gradosCiudades3)))

C°:  [26, 36, 38, 45, 25, 48] K°:  [299.12, 309.12, 311.12, 318.12, 298.12, 321.12]

In [ ]:
#Conversor de K° a C° (con lambda)
def convertirKelC(k):
  return (k-273.15)
gradosCiudades4= [1,30, 50, 85, 45, 74]
conversor= lambda k:(k-273.15)
print("K°:  ",gradosCiudades4, "C°: ",list(map(conversor, gradosCiudades4)))

K°:   [1, 30, 50, 85, 45, 74] C°:  [-272.15, -243.14999999999998, -223.14999999999998, -188.14999999999998, -228.14999999999998, -199.14999999999998]

In [ ]:
#convertir K° a C° (funcion de usuario)
gradosCiudades5=[299.15,309.15,311.15,318.15,298.15,321.12]
print("K°: ",gradosCiudades5,"C°: ",list(map(convertirKelC ,gradosCiudades5)))

K°:  [299.15, 309.15, 311.15, 318.15, 298.15, 321.12] C°:  [26.0, 36.0, 38.0, 45.0, 25.0, 47.97000000000003]

In [ ]:
#Calcular el promedio de notas.

#COMPUTO 1
L1C1 = 8.50
L2C1 = 7.25
PC1= 6.20
print("Laboratorio 1:",L1C1, "Laboratorio 2:",L2C1, "Parcial:",PC1)
prom1 = (L1C1+L2C1+PC1)*0.35
print("EL PROMEDIO COMPUTO 1 ES : ",prom1)


#COMPUTO 2
L1C2=4.75
L2C2=7.25
PC2=5.50
print("Laboratorio 1:",L1C2, "Laboratorio 2:",L2C2, "Parcial:",PC2)
prom2 = (L1C2+L2C2+PC2)*0.35
print("EL PROMEDIO COMPUTO 2 ES : ",prom2)

#COMPUTO 3
L1C3=6.45
L2C3=8.25
PC3=6.50
print("Laboratorio 1:",L1C2, "Laboratorio 2:",L2C2, "Parcial:",PC2)
prom3 = (L1C3+L2C3+PC3)*0.30
print("EL PROMEDIO COMPUTO 3 ES : ",prom3)

promF=(prom1+prom2+prom3)/3
print("Nota final es: ",promF)

Laboratorio 1: 8.5 Laboratorio 2: 7.25 Parcial: 6.2
EL PROMEDIO COMPUTO 1 ES :  7.682499999999999
Laboratorio 1: 4.75 Laboratorio 2: 7.25 Parcial: 5.5
EL PROMEDIO COMPUTO 2 ES :  6.125
Laboratorio 1: 4.75 Laboratorio 2: 7.25 Parcial: 5.5
EL PROMEDIO COMPUTO 3 ES :  6.359999999999999
Nota final es:  6.722499999999999

SEMANA #4:

In [ ]:
edades=(2,5,12,18,65,100) #la tupla es inmutable(no se puede cambiar su valor y se declara com parentesis pero se usa con corchetes)
print(edades,"La edad e bebé es la mejor: ",edades[0])

(2, 5, 12, 18, 65, 100) La edad e bebé es la mejor:  2

In [ ]:
print("Edades: ",edades,"RESPONSABILIDADES: ",tuple(filter(lambda e:e>=18,edades)))
print("Edades: ",edades,"Al cuadrado: ",tuple(map(lambda n:n**2,edades)))

Edades:  (2, 5, 12, 18, 65, 100) RESPONSABILIDADES:  (18, 65, 100)
Edades:  (2, 5, 12, 18, 65, 100) Al cuadrado:  (4, 25, 144, 324, 4225, 10000)

In [ ]:
notas=[6,8,10] #Listas,son mutables,es decir, podemos cambiar sus valores y se declaran y usan corchetes
print("Notas Originales: ",notas)

notas[0]=9
print("Notas: ",notas)

Notas Originales:  [6, 8, 10]
Notas:  [9, 8, 10]

In [ ]:
notasProgra=[
     [9,8,10],#Computo1
     [10,6,9],#Computo2
     [10,9,10],#Computo3
]
print(notasProgra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [ ]:
print("Lab2 de c1: ",notasProgra[0][1])

Lab2 de c1:  8

In [ ]:
notas=[
    [ #PrgraIII
     [9,8,[8,9]],#C1
     [9,8,9],#C2
     [10,9,10],#C3
    ],

    [#Estadistica
      [5,7,10],#C1
      [9,8,9],#C2
      [10,10,10],#C3
     ],
    [ #BD
      [7,8,9],#C1
      [9,8,7],#C2
      [10,9,10],#C3
    ],
    [ #Ingles
      [8,9,10],#C1
      [9,10,9],#C2
      [10,9,10],#C3
    ],
    [ #Digital
      [5,8,7],#C1
      [8,7,9],#C2
      [9,10,9],#C3
    ]
]
import functools
print("Lab1 de Estadistica en C1:", notas[1][0][0],"Nota Parcial C1 de Progra III: ",functools.reduce(lambda a,b:a+b,notas[0][0][2])/2)

Lab1 de Estadistica en C1: 5 Nota Parcial C1 de Progra III:  8.5

In [ ]:
#Diccionaros (JSON):se declaran con llaves, pero se usan con corchtes
misNotas={
    "PrograIII":{
        "C1":{
            "Lab1":9,"Lab2":8,"Parcial":{"Parte I":8,"Parte II":9}
        },
        "C2":{
            "Lab1":9,"Lab2":8,"Parcial":9
        },
        "C3":{
            "Lab1":10,"Lab2":9,"Parcial":10
        }
    },"Estadistica":{
        "C1":{
            "Lab1":5,"Lab2":7,"Parcial":10
        },
        "C2":{
            "Lab1":10,"Lab2":6,"Parcial":9
        },
        "C3":{
            "Lab1":10,"Lab2":10,"Parcial":10
        }
     },"BD":{
    "C1":{
            "Lab1":7,"Lab2":8,"Parcial":9
        },
        "C2":{
            "Lab1":9,"Lab2":8,"Parcial":7
        },
        "C3":{
            "Lab1":10,"Lab2":9,"Parcial":10
         }
      },"Ingles":{
          "C1":{
            "Lab1":8,"Lab2":9,"Parcial":10
        },
        "C2":{
            "Lab1":9,"Lab2":10,"Parcial":9
        },
        "C3":{
            "Lab1":10,"Lab2":9,"Parcial":10
         }
      },"Digital":{
          "C1":{
            "Lab1":5,"Lab2":8,"Parcial":7
        },
        "C2":{
            "Lab1":8,"Lab2":7,"Parcial":9
        },
        "C3":{
            "Lab1":9,"Lab2":10,"Parcial":9
      }
   }
}

print("Lab1 en Estadistica: ",misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"]=float(input("Lab1: "))
print("Lab1 en Estadistica: ",misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en Estadistica:  5
Lab1: 10
Lab1 en Estadistica:  10.0

#Ejercico 1

In [ ]:
#iss (3%), afp (6,25%), isr(tabla), imprimir sueldo neto y total reducciones.
sueldo = float (input("Ingrese un sueldo: "))

def Sueldo(sueldo):
  return sueldo - (sueldo * 0.03 + sueldo * 0.0625)

def Sueldo2(sueldo):
  return (((sueldo - (sueldo * 0.03 + sueldo * 0.0625)) - 472.00) * 0.10) + 17.67

def Sueldo3(sueldo):
  return (((sueldo - (sueldo * 0.03 + sueldo * 0.0625)) - 895.24) * 0.20) + 60.00

def Sueldo4(sueldo):
  return (((sueldo - (sueldo * 0.03 + sueldo * 0.0625)) - 2038.10) * 0.30) + 288.57

suel = Sueldo(sueldo)

suel2 = Sueldo2(sueldo)

suel3 = Sueldo3(sueldo)

suel4 = Sueldo4(sueldo)

if sueldo <= 472.00:
  print("Su sueldo es: ", suel)

if sueldo >= 472.01 and sueldo <= 895.24: 
  print("En su sueldo de: ", sueldo, ", el descuento de impuesto de renta es: ", suel2)

if sueldo >= 895.25 and sueldo <= 2038.10: 
  print("En su sueldo de: ", sueldo, ", el descuento de impuesto de renta es: ", suel3)

if sueldo >= 2038.10: 
  print("En su sueldo de: ", sueldo, ", el descuento de impuesto de renta es: ", suel4)

Ingrese un sueldo: 365
Su sueldo es:  331.2375

#Ejercicio 2

In [ ]:
metros = int(input("Ingrese número de metros: "))

def cuota(metros):
  return 6

def cuota2(metros):
  return ((metros - 18) * 0.45) + 6

def cuota3(metros):
  return ((metros - 28) * 0.65) + ((28 - 18) * 0.45) + 6 

cuo1 = cuota(metros)

cuo2 = cuota2(metros)

cuo3 = cuota3(metros)

if metros >=1 and metros <= 18:
  print("En", metros,"metro/os" " Usted tiene que pagar $", cuo1)

if metros >=19 and metros <= 28:
  print("En", metros,"metros" " Usted tiene que pagar $", cuo2)

if metros >=29:
  print("En", metros,"metros" " Usted tiene que pagar $", cuo3)

Ingrese número de metros: 900
En 900 metros Usted tiene que pagar $ 577.3000000000001

#Ejercicio 3

In [ ]:
print("Ingrese un número: ")
a = int(input())
b = 0
for i in range(1, a+1):
  print(i)
  b=b+i
  print("El valor acumulado es: ", b)

Ingrese un número:
6
1
El valor acumulado es:  1
2
El valor acumulado es:  3
3
El valor acumulado es:  6
4
El valor acumulado es:  10
5
El valor acumulado es:  15
6
El valor acumulado es:  21

#Ejercicio 4

In [ ]:
#CONVERSOR
conversor= lambda ct:ct
valores = [
           0,
           [0,1, 0.98, 24.49, 35.96, 7.73, 8.75, 663.37,19.98,1314.06,1.29], #Monedas
           [0,1,100,1000,1e+6,1e+9,0.000621371,1.09361,3.28084,39.3701,0.000539957,0.001],  #Longitud
           [0,1,0.001,1000,1e+6,9.8421e-7,1.1023e-6,0.00220462,0.035274,1e-6,0.000157473], #Masa
           [0,1,0.125,0.000125,1.25e-7,1.25e-10,1.25e-13,1.25e-16,1.25e-19,1.25e-22,1.25e-25], #Almacenamiento
           [0,1,1e+9,0.0166667,0.000277778,1.1574083333e-5,1.653440476142857e-6,3.80517391202858972e-7,3.170981735068493655e-8,3.171e-9,3.171e-10], #Tiempo
           [0,1,1000,0.219969,0.879876,1.75975,3.51951,56.3121,168.936,0.0353147,61.0237], #Volumen
           [0, 1, 0.000001, 0.0001, 0.01, 100, 10000, 1000000, 1.2, 10.76, 1550] #Area
]
etiquetas = [
           [],
           ["1. Dolar", "2. Euro", "3. Lempira","4. Cordobas", "5. Quetzalez", "6. Colon SV", "7. Colon CR","8.MXN","9.Won Surcoreano","10.Dolar Canadiense"], #Moneda
           ["1. Metro","2. CM","3. Milimetro", "4. Micrómetro","5. Nanómetro", "5. Milla","6. Yarda","7. Pie","8. Pulgada","9.Milla Náutica","10.Kilometro"], #Longitud
           ["1. Gramo","2. Kilogramo","3. Miligramo", "4. Microgramo", "5. Tonelada Larga","6. Tonelada corta","7. Libra","8.Onza","9.Tonelada","10. Stone"], #Masa
           ["Bit","Byte","KB", "MB","GB", "TB","PB","EB","ZB","YB"], #Almacenamiento
           ["Sg","Nanosg","Minuto", "Hora","Día", "Semana","Mes","Año Natural","Década","Siglo"], #Tiempo
           ["Litro","Mililitro","Galón imperial", "Cuarto imperial","Pinta imperial", "Taza imperial","Cucharada imperial","Cucharadita imperial","Pie cúbico","Pulgada cúbica"], #Volumen
           ["1. Metro cuadrado", "2. Kilómetro cuadrado", "3. Hectárea", "4. Área", "5. Decímetro cuadrado", "6. Centímetro cuadrado", "7. Milímetro cuadrado", "8. Yarda cuadrada", "9. Pie cuadrado", "10. Pulgada cuadrada"] #Area
]
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a]/valores[conversor][de] * cantidad

print("*** MENU ***")
print("* 1. Monedas")
print("* 2. Longitud")
print("* 3. Masa")
print("* 4. Almacenamiento")
print("* 5. Tiempo")
print("* 6. Volumen")
print("* 7. Area")
conversor = int(input("Conversor: "))

print( etiquetas[conversor] )

de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cant: "))

print("Respuesta: ", convertir(conversor, de, a, cantidad) )

*** MENU ***
* 1. Monedas
* 2. Longitud
* 3. Masa
* 4. Almacenamiento
* 5. Tiempo
* 6. Volumen
* 7. Area
Conversor: 7
['1. Metro cuadrado', '2. Kilómetro cuadrado', '3. Hectárea', '4. Área', '5. Decímetro cuadrado', '6. Centímetro cuadrado', '7. Milímetro cuadrado', '8. Yarda cuadrada', '9. Pie cuadrado', '10. Pulgada cuadrada']
DE: 1
A: 2
Cant: 1
Respuesta:  1e-06

#Ejercio 5

In [ ]:
etique = [
    0,
    ["Seleccione lo que desea convertir", "1. Caja", "2. Unidades"],
    ["Seleccione lo que desea convertir", "1. Saco", "2. Libras"],
    ["Seleccione lo que desea convertir", "1. Fardo", "2. Unidades"]
    ]

valor = [0,
  [0, 1, 25],
  [0, 1, 50],
  [0, 1, 5],
 
]

In [ ]:
def convertir(opcion, de, a, cantidad):
  return valor[opcion][a] / valor[opcion][de] * cantidad

In [ ]:
print("** MENU DE CONVERSORES **")
print("1. Cajas/Unidades")
print("2. Saco/Libras")
print("3. Fardo/Unidades")

opcion = int(input("Opcion: "))

print( etique[opcion] )
de = int(input("DE: "))

a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etique[opcion][de], " en ", etique[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

** MENU DE CONVERSORES **
1. Cajas/Unidades
2. Saco/Libras
3. Fardo/Unidades
Opcion: 3
['Seleccione lo que desea convertir', '1. Fardo', '2. Unidades']
DE: 1
A: 2
Cantidad: 60
1. Fardo  en  2. Unidades  equivale a:  300.0

#Estructura de control

In [ ]:
edad=int(input("Dime tu edad: "))
if(    edad<=2):
  print("Eres un bebé")
elif(   edad<12):
    print("Eres un niño")
elif ( edad<18 ):
  print("Eres un adolecete")
elif(  edad<=55):
  print("Eres un adolto joven")
elif(  edad<=65):
  print("Eres un adolto")
elif(  edad<=85):
  print("Eres adulto mayor")
elif(  edad<=130):
  print("Larga vida...")
else:
  print("Edad incorrecta")
print("Termino")

Dime tu edad: 135
Edad incorrecta
Termino

In [ ]:
#Hacer un programa que genere la tabla de multiplicar de X numero ingresado por el User
nt= int(input("Dime la tabla: "))
i=1
while i<=10:
  print(nt, "X",i,"=",nt*i)
  i+=1

Dime la tabla: 10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
#Hacer un programa que genere la tabla de multiplicar de X numero ingresado por el User
nt= int(input("Dime la tabla que deseas generar: "))
for i in range(1,11):  #i<11
  print(nt,"X",i,"=",nt*i)

Dime la tabla que deseas generar: 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#Hacer un programa que genere la tabla de multiplicar de X numero ingresado por el User
s="s"
while(s=="s"):
  nt= int(input("Dime una tabla: "))
  for i in range(1,11):
    print("X",i,"=",nt*i)
  s=input("Desea continuar presione la tecla S: ")

Dime una tabla: 5
X 1 = 5
X 2 = 10
X 3 = 15
X 4 = 20
X 5 = 25
X 6 = 30
X 7 = 35
X 8 = 40
X 9 = 45
X 10 = 50
Desea continuar presione la tecla S: s
Dime una tabla: 7
X 1 = 7
X 2 = 14
X 3 = 21
X 4 = 28
X 5 = 35
X 6 = 42
X 7 = 49
X 8 = 56
X 9 = 63
X 10 = 70
Desea continuar presione la tecla S: s
Dime una tabla: 4
X 1 = 4
X 2 = 8
X 3 = 12
X 4 = 16
X 5 = 20
X 6 = 24
X 7 = 28
X 8 = 32
X 9 = 36
X 10 = 40
Desea continuar presione la tecla S: n

### Cajero Automatico

In [ ]:
carga100 = 100
carga50 = 100
carga20 = 100
carga10 = 100
carga5 = 100
carga1= 100
carga01=0.100
def sacar_dinero(cantidad):
  global carga100, carga50, carga20, carga10, carga5,carga1,carga01
  if cantidad <= 100 * carga100 + 50 * carga50 + 20 * carga20 + 10 * carga10 + 5 * carga5 + 1 * carga1 + 0.1 *carga01:
    de100 = int(cantidad/100)
    cantidad = cantidad % 100
    if de100 >= carga100: # y hay suficiebtes billetes de 100
        cantidad = cantidad + (de100 - carga100) * 100
        de100 = carga100
 
    de50 = int(cantidad / 50)
    cantidad = cantidad % 50
    if de50 >= carga50: # Si hay suficientes billetes de 50
      cantidad = cantidad + (de50 - carga50) * 50
      de50 = carga50
 
    de20 = int(cantidad / 20)
    cantidad = cantidad % 20
    if de20 >= carga20: # y hay suficientes billetes de 20
      cantidad = cantidad + (de20 - carga20) * 20
      de20 = carga20
 
    de10 = int(cantidad / 10)
    cantidad = cantidad % 10
    if de10 >= carga10: # y hay suficientes billetes de 10
      cantidad = cantidad + (de10 - carga10) * 10
      de10 = carga10
 
    de5 = int(cantidad / 5)
    cantidad = cantidad % 5
    if de5  >= carga5: # y hay suficientes billetes de 5
        cantidad = cantidad + (de5 - carga5) * 5
        de5 = carga5
 
    de1 = int(cantidad / 1)
    cantidad = cantidad % 1
    if de1  >= carga1: # y hay suficientes billetes de 1
        cantidad = cantidad + (de1 - carga1) * 1
        de1 = carga1

    de01 = int(cantidad / 0.1)
    cantidad = cantidad % 0.1
    if de01  >= carga01: # y hay suficientes monedas de 0.1
        cantidad = cantidad + (de01 - carga01) * 0.1
        de01 = carga01
 
    # Si todo ha ido bien, la cantidad que resta por entregar es nula:
    if cantidad == 0:
      # Así que hacemos efectiva la extracción
      carga100= carga100 - de100
      carga50 = carga50 - de50
      carga20 = carga20 - de20
      carga10 = carga10 - de10
      carga5 = carga5 - de5
      carga1 = carga1-de1
      carga01 = carga01-de01
      return [de100, de50, de20, de10, de5,de1,de01]
    else: # Y si no, devolvemos la lista con cinco ceros:
      return [0, 0, 0, 0, 0,0,0]
  else:
    return [-1, -1, -1, -1, -1, -1, -1]
 
try:
    c = float (input('Cantidad a extraer: '))
    resultado=sacar_dinero(c)
    if resultado==[0,0,0,0,0,0,0]:
        print ('No hay desglose de billetes para su importe')
    elif resultado==[-1,-1,-1,-1,-1, -1, -1]:
        print ('No hay suficientes billetes')
    else:
        print ('Billetes de 100: ', resultado[0])
        print ('Billetes de 50:', resultado[1])
        print ('Billetes de 20:', resultado[2])
        print ('Billetes de 10:', resultado[3])
        print ('Billetes de 5:', resultado [4])
        print ('Billetes de 1:', resultado [5])
        print ('Centavo de 1:', resultado [6])
except:
    print ('Importe incorrecto')

Cantidad a extraer: 10
Billetes de 100:  0
Billetes de 50: 0
Billetes de 20: 0
Billetes de 10: 1
Billetes de 5: 0
Billetes de 1: 0
Centavo de 1: 0

07/09/22

In [ ]:
#POLIMORFISMO
#El poliformismo o tiene el signo (objeto)+
nombre=  "Fernando Gonzalez"
saludo= "Hola " +  nombre
print(saludo)

num1= 5
num2=4.6
resp=num1 + num2
mensaje= "Respuesta " +  str(resp)
print (mensaje)

#VB
#num1= 5 #Asignacion
#if num1= 5: #Comparacion
#  print("La variable num1 es igual a 5")

Hola Fernando Gonzalez
Respuesta 9.6

In [ ]:
!pip --version
!pip -V

pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)
pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)

#09-09-22

In [ ]:
#POO

class deducciones():
  def __init__(self, sueldo, porcentajeIsss, porcentajeAFP, tablaIsr):
    self.sueldo = sueldo
    self.porcentajeIsss = porcentajeIsss
    self.porcentajeAFP = porcentajeAFP
    self.tablaIsr = tablaIsr

In [ ]:
def calcularIsss(self):
  return self.sueldo *self.porcentajeIsss/100
  
def calcularAFP(self):
  return self.suelfo * self.porcentajeAFP/100

def calcularIsr(self):
     self.sueldoNeto = self.sueldo- (self.calcularIsss() + self.calcularAFP())
     Isr = 0
     for tramo in self.tablaIsr:
      self.sueldoNeto  >=tramo[0]and self.sueldoNeto<= tramo[1]
      Isr=(self.sueldoNeto - tramo[0])*tramo[2]+tramo[3]
      return Isr

In [ ]:
#Personas
porcentajeIsssP = 3  #puede venir de una BD
porcentajeAFPp = 6.25
tablaIsrP = [
     [00.1, 472, 0, 0],              #Tramo I
	 [472.01, 895.24, 0.1, 17.67, ], #Tramo II
	 [895.25, 2038.10, 0.2, 60] ,    #Tramo III
	 [2038.11, 99999, 0.3, 2088.57], #Tramo IV
]

In [ ]:
#Empresas
porcentajeIsssE = 7.5
porcentajeAFPE = 7.75

sueldo = float(input("Sueldo: "))
de = deducciones(sueldo, porcentajeIsssE)
dp = deducciones(sueldo, porcentajeIsssP)

print("Isss - Persona: ",dp.calcularIsssP(), "Isss - Empresa: ", de.calcularIsss(), "Isr - Persona: ",dp.calcularIsr())
print("AFP- Persona: ",dp.calcularAFPp(), "AFP - Empresa: ",de.calcularAFPE())

#14-09-22

In [6]:
lenguajes = ["VB", "C#", "JAVA","XML","PYTHON","PHP","HTLM","JS","CSS"]
print(len(lenguajes), lenguajes.count("VB"))

9 1

In [14]:
lenguajes = {
    "Fundamentos: ":"VB",
    "Programacion_I": "C#",
    "Prgramacion_II":["JAVA", "XML"],
    "Programacion_III":["PYTHON","HTML","JS","CSS"],
    "Programacion_IV":["PHP","HTML","JS","CSS"],
}
#print(len(lenguajes["Programacion_III"]))
for key in lenguajes:
  print(lenguajes[key], type(lenguajes[key]))

VB <class 'str'>
C# <class 'str'>
['JAVA', 'XML'] <class 'list'>
['PYTHON', 'HTML', 'JS', 'CSS'] <class 'list'>
['PHP', 'HTML', 'JS', 'CSS'] <class 'list'>

In [15]:
#Libreria Pandad
import pandas as pd

In [17]:
lenguajes= pd.Series(
    ["VB", "C#", "JAVA","XML","PYTHON","PHP","HTLM","JS","CSS"],
    index=[5,1,2,2,3,4,4,4,4]
)
print(lenguajes)

5        VB
1        C#
2      JAVA
2       XML
3    PYTHON
4       PHP
4      HTLM
4        JS
4       CSS
dtype: object

In [24]:
lenguajes = {
    "fundamentos":"VB",
    1:"C#",
    2:"JAVA"
}
pdLenguajes = pd.Series(lenguajes)
print(pdLenguajes["fundamentos"])

VB